@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
    width: 98vw;
    height: 98vh;
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(15deg,#43766C,#F8FAE5,#B19470,#76453B);
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

h1{
    margin-left: -17px;
}


.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imputs{
    width: 400px;
    height: 40px;
    border-radius: 8px;
    margin-top: 1px;
    border: 3px solid;
    border-color: rgb(6, 104, 150);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

.imputs:hover{
    border-color:rgb(8, 135, 194);
}

.m1{
    width: 400px;
}

.labels{
    margin-top: 8px;
}

.selectList{
    width: 400px;
    height: 40px;
    border-radius: 8px;
    margin-top: 1px;
    border: 3px solid rgb(6, 104, 150);
}

.selectList:hover{
    border-color:rgb(8, 135, 194);
}

.btn{
    width: 200px;
    height: 35px;
    border-radius: 20px;
    margin-top: 40px;
    background-color: rgb(13, 153, 13);
    color: white;
    margin-left: 100px;
}

.btn:hover{
   background-color: rgb(64, 194, 64);
}
img{
    display: none;
}